# Build directories
bin/
obj/

# Rider and IntelliJ-related files
.idea/
*.Rider/
_ReSharper.Caches/
*.iml
*.ipr
*.iws

# Build artifacts
*.dll
*.exe
*.pdb
*.cache
*.sourcelink.json
*.props
*.info
*.cs
*dgspec.json
*.BuildWithSkipAnalyzers

# Dotnet-specific files and directories
*.user
.vs/
SmartTaskManagementAPI/obj/

# Ignore bin and obj directories in any location
**/bin/
**/obj/