obj/
.idea/
*.Rider/
_ReSharper.Caches/
bin/
*.iml
*.ipr
*.iws

# Ignore specific file types generated during builds
*.dll
*.exe
*.pdb
*.cache
*.sourcelink.json
*.props
*.info
*.cs
*dgspec.json
*.BuildWithSkipAnalyzers

# Dotnet-specific files
*.user
*.vs/
SmartTaskManagementAPI/obj/
